<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6cc0b677b4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">


</head>

<body>
    <div class="top-nav-bar">
        <div class="search-box">
            <a href="/"><img src="images/pngwave.png" class="logo "></a>
            <input type="text" class="form-control">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
            <!--cart addition-->
        </div>

        <div class="menu-bar">
            <ul>
                <li>
                    <a href="/dashboard"><i class="fas fa-user-cog"></i> Profile</a>
                </li>
                <li>
                    <a href="/users/register"><i class="fa fa-user-plus"></i>Sign up</a>
                </li>
                <li>
                    <a href="/users/login"><i class="fa fa-sign-in"></i>Log in</a>
                </li>
            </ul>
        </div>
    </div>

    <!---------------New products------------------------>
    <section class="new-products">
        <div class="container">
            <div class="title-box">
                <h2>On sale</h2>
            </div>
            <!--below used to be class="row"-->
           <div class="row">
            <div class="card-deck">   
                <% for(let i = 0 ; i< products.length;i++) {%>
                    <div class="col-md-3">
                    <div class="card">
                    <div class="product-top">
                        <a href="/game/<%=products[i].id%>"> <img class="card-img-top" src="<%=products[i].picture%>"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Details">
                                <a class="btn btn-primary" href="/payment/<%=products[i].id%>"
                                    role="button"> <i class="far fa-credit-card"></i>Buy</a> 
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3><%=products[i].title%></h3>
                        <h5><%=products[i].price%></h5>
                    </div>
                </div>
            </div>
                <%
                }
                %>
            
            </div>
        </div>
        </div>
    </section>



    <!---------Footer---------->
    <section class="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>

                <div class="col-md-4">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>

                <div class="col-md-4 footer-image">
                    <h1>Download app</h1>
                    <img
                        src="https://3.bp.blogspot.com/-zxXOgeQ5-0A/XD5vwB4CtTI/AAAAAAAAG4c/fFMrXH-ZFZkkVlzkgB6dvRJMUwfDgACWACK4BGAYYCw/s1600/Icons%2BApp%2BStore%2BGoogle%2Bplay.png">
                </div>
            </div>
            <hr>

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-google-plus-g"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-dribbble mx-1">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </li>
            </ul>
            <hr>

            <p class="copyright"><i class="fas fa-cat"></i> Made by Dan Levy, Leead Keness and Sheer Amit</p>
        </div>
    </section>

</body>


</html>