<div class="container">
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="btn btn-info" href="/admin/"><i class="fas fa-arrow-circle-left"></i> Back</a>			
    </nav>
<%  if (users.length != 0) { %>
<table class="table table-dark">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Games in inventory</th>
    <th scope="col">Role</th>
    <th scope="col">Make admin</th>
  </tr>
</thead>
<tbody>
    <% for(let i = 0 ; i< users.length;i++) {%>
      <tr>
        <th scope="row"><%=i%></th>
        <td><%=users[i].firstName%></td>
        <td><%=users[i].lastName%></td>
        <td><%=users[i].email%></td>
        <td><%=users[i].inventory.length%></td>
        <%if(users[i].role==true){%>
        <td>admin</td>
        <%}else{%>
        <td>peasant</td>
        <%}%>


        <td>
        <div class="form-check form-check-inline">
            <%if(users[i].role==true){%>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled>
                <%}else{%>
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <%}%>
            <label class="form-check-label" for="inlineCheckbox1"></label>
          </div>
        </td>

      </tr>
    <%
      }
    %>  
</tbody>
</table>
<%}else{ %>
<h1>Users list is empty</h1>
<%}%>
</div>
